@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.element-btn{
    height: 57px;
    width: 70px;
}
.top-container{
    width: 100%;
    min-height: 200px;
    height: 22vh;
}
.max{
    max-width: 450px;
    min-width: 370px;
}

.mother-container{
    width: 100%;
    overflow: scroll;
}
#search{
    height: 50px;
}
.search-btn{
    height: 50px;
}
.bord{
    border: 5px solid goldenrod;
}
#formalInfo{
    min-height: 200px;
     height: 30vh;
}
#restInfo{
    height: 40vh;
    min-height: 250px;
}

.btn-color{
    background-image: linear-gradient(to bottom, #712cf9, #4c0bce);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
}
.nav-color{
    background-image: linear-gradient(to bottom, #712cf9, #4c0bce);
}
.color{
    color:  #4c0bce;
}

.spinnerPos{
    margin-left: 48%;
}
@media only screen and (min-width: 700px) {
    #formalInfo,#configSec{
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }
}
